<router-outlet></router-outlet>
<div class="container-fuild backColor">
  <div class="container pageColor">
    <div class="row">
      <div class="col-2 p-5">
        <div class="row">
          <div class="col-4"><i class="fa-solid fa-l bg-primary fw-bolder text-white logo"></i></div>
          <div class="col-8 fw-bold fs-5">Logo</div>
        </div>
        <div class="row mt-5">
          <div class="col-4"><i class="fa-solid fa-table-columns text-primary"></i></div>
          <div class="col-8 fw-bold">Dashboard</div>
        </div>
        <div class="row fontColor">
          <div class="col-4"><i class="fa-solid fa-folder"></i></div>
          <div class="col-8">Classes</div>
        </div>
        <div class="row fontColor">
          <div class="col-4"><i class="fa-solid fa-table-columns"></i></div>
          <div class="col-8">Resources</div>
        </div>
        <div class="row fontColor">
          <div class="col-4"><i class="fa-solid fa-calendar"></i></div>
          <div class="col-8">Learning plan</div>
        </div>
        <div class="row fontColor">
          <div class="col-4"><i class="fa-solid fa-message"></i></div>
          <div class="col-8">Chat</div>
        </div>
        <div class="row fontColor">
          <div class="col-4"><i class="fa-solid fa-pen-to-square"></i></div>
          <div class="col-8">settings</div>
        </div>
        <div class="row mt-5 ms-3">
          <div class="col-12 footerFirst p-3">
            Upgrate to <span class="fw-bolder fs-5 text-dark">pro</span> for more resources
            <button class="btn upgradeBtn btn-info text-white text-center mt-2 fw-bold">Upgrade</button>
          </div>

        </div>
      </div>
      <div class="col-8 mainSectionBack ps-4">
        <div class="row mt-4">
          <div class="col-3">
            <span class="fw-bold">Dashboard</span>
          </div>
          <div class="col-8 text-end fs-6">20 september 2019,Friday</div>
          <div class="col-1"><i class="fa-solid fa-magnifying-glass text-primary SearchIcon"></i></div>

        </div>
        <div class="row secHeader p-3">
          <div class="col-5 ms-5">
            <span class="text-danger fw-bolder mb-5">Welcome back Anna!</span><br>
            <span class="des fw-bold">You've learn 80% of your goal this week!
              Keep it up and improve your result!</span>
          </div>
          <div class="col-6">
            <img src="assets/image_processing20200424-23023-e9axh.png" alt="" srcset="" height="100px" width="200px" class="">
          </div>
        </div>
        <div class="row">
          <div class="col-5 p-3 bg-white latestResult ">
            <div class="row fw-bold">
              <div class="col-5">Latest result</div>
              <div class="col-7 text-end">more<i class="fa-solid fa-arrow-right-long arrowMore ps-1"></i></div>
            </div>
            <div class="row mt-3">
              <div class="col-6 result">
                <span class="fw-bold text-dark">unit 5-</span> Technology
              </div>
              <div class="col-4 mt-2 ps-5">
                <div class="progress " style="height: 4px;width: 70px;">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div> 25%
                </div>
              </div>
              <div class="col-2 percen">25%</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 result">
                <span class="fw-bold text-dark">unit 12-</span> Ecology
              </div>
              <div class="col-4 mt-2 ps-5">
                <div class="progress" style="height: 4px;width: 70px;">
                  <div class="progress-bar" role="progressbar" style="width: 44%;" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 percen">44%</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 result">
                <span class="fw-bold text-dark">unit 9-</span>Real estate
              </div>
              <div class="col-4 mt-2 ps-5">
                <div class="progress" style="height: 4px;width: 70px;">
                  <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 percen">40%</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 result">
                <span class="fw-bold text-dark">unit 8-</span> Education
              </div>
              <div class="col-4 mt-2 ps-5">
                <div class="progress" style="height: 4px;width: 70px;">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 15%;" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 percen">15%</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 result">
                <span class="fw-bold text-dark">unit 16-</span> market
              </div>
              <div class="col-4 mt-2 ps-5">
                <div class="progress" style="height: 4px;width: 70px;">
                  <div class="progress-bar" role="progressbar" style="width: 76%;" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 percen">76%</div>
            </div>
          </div>
          <div class="col-6 bg-white latestResult ms-3">
            <div class="row fw-bold p-3">
              <div class="col-7">Time spend on learning</div>
              <div class="col-5 text-end">last week<i class="fa-solid fa-chevron-down ps-1"></i></div>
            </div>
            <div class="row">
              <div class="col-1 text-center">Mon</div>
              <div class="col-2 text-center">Tue</div>
              <div class="col-2 text-center">Wed</div>
              <div class="col-2 text-center">Thu</div>
              <div class="col-2 text-center">Fri</div>
              <div class="col-2 text-center">Sat</div>
              <div class="col-1 text-center">Sun</div>
            </div>
            <div class="row mt-5 latestResult2">
              <div class="col-1">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 ">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2">
                <div class="progress vertical" style="height: 3px; width:120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-1">
                <div class="progress vertical" style="height: 3px; width: 120px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                
                  <div class="row fw-bold p-3">
                    <div class="col-7">Your courses</div>
                    <div class="col-5 text-end">more <i class="fa-solid fa-arrow-right-long arrowMore ps-1"></i></div>
                  </div>
                <div class="row">
                  <div class="col-3">
                    <i class="fa-solid fa-circle text-danger course"></i>Vocabl
                  </div>
                  <div class="col-3">
                    <i class="fa-solid fa-circle text-dark course me-1"></i> Grammer
                  </div>
                  <div class="col-3">
                    <i class="fa-solid fa-circle text-primary course me-1"></i> Listening
                  </div>
                  <div class="col-3">
                    <i class="fa-solid fa-circle text-info course me-1"></i>Writting
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="row mt-4">
          <div class="col-4 bussinessENG me-4 pt-3">
          <div class="row">
            <div class="col-4 text-center">
              <span class="b2 p-2">B2</span>
            </div>
            <div class="col-8 ">
              Bussiness English
              <span class="fw-bold">Grammer</span>
            </div>
          </div>
          </div>
          <div class="col-4 commonENG me-4 pt-3">
            <div class="row">
              <div class="col-4 text-center">
                <span class="b2 p-2">B2</span>
              </div>
              <div class="col-8 ">
                Common English
                <span class="fw-bold">Phrasal verbs</span>
              </div>
            </div>
          </div>
          <div class="col-4 spanish me-4 pt-3">
            <div class="row">
              <div class="col-4 text-center">
                <span class="b2 p-2">B2</span>
              </div>
              <div class="col-8 ">
                Bussiness Spanish
                <span class="fw-bold">Vocabulary</span>
              </div>
            </div>
          </div>
         </div> 
      </div>
 <div class="col-2"></div>
    </div> 
  </div>
</div>